/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    // add barcode patterns to
    withName: '.*:UMITOOLS_FASTQC:UMITOOLS_EXTRACT' {
        publishDir = [
            enabled: false
        ]
        // if the r2 pattern is empty, only add the r1 barcode
        ext.args =  { "${params.r2_bc_pattern}" != "null" ?
                        "--bc-pattern=${params.r1_bc_pattern} " +
                        "--bc-pattern2=${params.r2_bc_pattern}" :
                        "--bc-pattern=${params.r1_bc_pattern}"
                    }
    }

    // Do not output bams without read group and tags
    // todo: consider making this a user selection
    withName: ".*BWAMEM2_INDEX" {
        publishDir = [
            path: { "${params.outdir}/ref_genome/bwamem2_index" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Do not output bams without read group and tags
    // todo: consider making this a user selection
    withName: ".*BWAMEM2_MEM" {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*SAMTOOLS_FAIDX' {
        publishDir = [
            path: { "${params.outdir}/ref_genome" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SAMTOOLS_SORT' {
        publishDir = [
            enabled: false
        ]
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: '.*SAMTOOLS_INDEX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ADD_RG_AND_TAGS' {

        publishDir = [
            path: { "${params.outdir}/Alignments" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SAMTOOLS_MPILEUP' {
        // excl flags are UNMAP(4),SECONDARY(256),QCFAIL(512)
        ext.args = "--adjust-MQ ${params.samtools_mpileup_adjust_mq} " +
                    "--min-MQ ${params.min_mapq} " +
                    "--excl-flags UNMAP,SECONDARY,QCFAIL,DUP " +
                    // RG, XI, XZ are tags added in bin/add_read_group_and_tags.py
                    "--output-extra QNAME,FLAG,MAPQ,RG,XI,XZ"
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

}
