/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: ".*BWAMEM2_MEM" {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: '.*SAMTOOLS_MPILEUP' {
        // excl flags are UNMAP(4),SECONDARY(256),QCFAIL(512)
        ext.args = "--adjust-MQ ${params.samtools_mpileup_adjust_mq} " +
                    "--min-MQ ${params.min_mapq} " +
                    "--excl-flags UNMAP,SECONDARY,QCFAIL,DUP " +
                    // POS is important b/c to quantify, we only count the left
                    // end of the read
                    "--output-extra QNAME,FLAG,POS,MAPQ"
    }

    // this is to prevent soft clipping in the alignments
    // TODO check that this works -- somehow unit test that softclipping == 0
    // in samtools?
    withName: '.*:BWAMEM2_SAMTOOLS:BWAMEM2_MEM' {
        ext.args = "-L 500,500"

    }
    // add barcode patterns to
    withName: '.*:FASTQC_UMITOOLS:UMITOOLS_EXTRACT' {
        ext.args =  "--bc-pattern=${params.r1_bc_pattern} " +
                    "--bc-pattern2=${params.r2_bc_pattern}"
    }

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

}
