/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/callingcards -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input                      = "${projectDir}/assets/input_samplesheet.csv"
    fasta                      = "${projectDir}/assets/hg38_chr1.fa"
    aligner                    = 'bwamem2'
    r1_bc_pattern              = 'NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN'
    barcode_length             =  38
    samtools_mpileup_adjust_mq =  50
    min_mapq                   =  10
    promoter_bed               = "${projectDir}/assets/human_test_promoters.bed"
    background_data            = "${projectDir}/assets/human_background_data.csv"
    pileup_stranded            = 'false'
    insertion_length           = 4
    max_cpus                   = 10
    max_memory                 = '14.GB'

}

process {

  executor = "sge"
  penv = 'smp'

}
